.write-form {
    table {
        width: 100%;
        text-align: left;

        input {
            height: 50px;
            width: 530px;
            line-height: 50px;
            padding-left: 15px;
            color: #888;
            border: 1px solid #e5e5e5;
            font-size: 1.6rem;

            &.captcha {
                width: 140px;
            }
        }

        textarea {
            height: 280px;
        }

        th,
        td {
            padding: 10px 10px 10px 20px;
            border-bottom: 1px solid #e5e5e5;
        }

        th {
            background: #f7f7f7;
            font-weight: bold;
        }

        td {
            padding-left: 15px;
        }
    }

    @include mq("tablet") {
        table {
            colgroup {
                display: none;
            }

            input {
                width: 100%;
            }

            textarea {
                height: 200px;
            }
        }
    }

    @include mq("tablet-small") {
        table {
            font-size: 13px;

            th {
                width: 85px;
                padding-left: 10px;
            }

            td {
                padding: 10px;
            }
        }
    }
}


.agree-box {
    border: 1px solid #e5e5e5;

    .agree-txt {
        padding: 20px;
        line-height: 1.5;
    }

    .check {
        border-top: 1px solid #e5e5e5;
        background-color: #f7f7f7;
        padding: 2rem 3rem 2rem 1rem;
        text-align: right;

        .ch-container {
            display: block;
            position: relative;
            //padding-left: 35px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            .checkmark {
                display: inline-block;
                height: 25px;
                width: 25px;
                background-color: #fff;
                position: relative;
                vertical-align: middle;
                margin-right: 5px;
                border: 1px solid #d5d5d5;

                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }
            }

            &:hover input~.checkmark {
                background-color: #ccc;
            }

            input:checked {
                &~.checkmark {
                    background-color: #2196f3;
                }

                &~.checkmark:after {
                    display: block;
                }
            }
        }
    }
}
