.brand-info {
    width: 1200px;
    @include push--auto;

    .box {
        width: 100%;
        height: 310px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .img {
            width: 47.5%;
            height: 100%;
        }

        .txt {
            width: 52.5%;
            padding-top: 20px;

            .txt-main {
                font-weight: bold;
                font-size: 3.4rem;
            }

            .t1 {
                margin-top: 21px;
                font-size: 2rem;
            }

            .t2 {
                margin-top: 23px;
                font-size: 2.4rem;
                font-weight: bold;
            }
        }

        &.box01 {
            .img {
                background: url("../img/contents/brand_img_01.png") no-repeat center / cover;
            }

            .txt {
                padding-left: 60px;
            }
        }

        &.box02 {
            margin-top: 12rem;
            background: url("../img/contents/brand_bg.png") no-repeat left bottom / contain;

            .img {
                order: 2;
                background: url("../img/contents/brand_img_02.png") no-repeat center / cover;
            }

            .txt {
                order: 1;

                text-align: right;
                padding-right: 60px;
            }
        }
    }

    @include mq("contents") {
        width: auto;
        margin: 0 2rem;
    }

    @include mq("tablet") {
        .pc-only {
            display: none;
        }
    }

    @include mq("tablet-small") {
        .box {
            height: auto;
            flex-wrap: wrap;

            &.box02 {
                margin-top: 5rem;
            }

            .img {
                height: 250px;
                width: 100%;
                order: 1 !important;
            }

            .txt {
                order: 2 !important;
                width: 100%;
                height: auto;
                padding: 2rem 0 !important;

                .t1,
                .t2 {
                    margin-top: 10px;
                }
            }
        }
    }
}
