.organization {
    text-align: center;

    .org-txt {
        font-size: 2.6rem;
        text-align: center;
        padding: 0 2rem;
    }

    .org-map {
        width: 1200px;
        @include push--auto;
        margin-top: 60px;

        .company {
            margin: auto;
            background: var(--primary-color);
            color: #fff;
            font-size: 2.4rem;
            width: 29rem;
            height: 6.5rem;
            line-height: 6.5rem;
            border-radius: 70px;
            position: relative;
            z-index: 10;

            &::before {
                content: "";
                width: 1px;
                height: 173px;
                background: #b6b6b6;
                position: absolute;
                z-index: -1;
                left: 50%;
                top: 6.5rem;
            }
        }

        .dept {
            margin-top: 180px;
            font-size: 1.8rem;
            position: relative;
            @include push--auto;

            &::before {
                content: "";
                width: 100%;
                height: 1px;
                width: 960px;
                background: #b6b6b6;
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -480px;
            }

            ul {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                li {
                    width: 210px;
                    margin: auto;
                    margin-top: 90px;
                    background-color: #fff;
                    position: relative;

                    &::before {
                        content: "";
                        width: 1px;
                        height: 84px;
                        background: #b6b6b6;
                        position: absolute;
                        top: -82px;
                        left: 50%;
                    }

                    &::after {
                        content: "";
                        width: 8px;
                        height: 8px;
                        border: 4px solid var(--primary-color);
                        border-radius: 50%;
                        position: absolute;
                        top: -97px;
                        left: 50%;
                        margin-left: -7px;
                        background: #fff;
                    }

                    span {
                        width: 210px;
                        height: 60px;
                        line-height: 60px;
                        border: 2px solid var(--primary-color);
                        display: inline-block;
                    }

                    &:first-child {
                        margin-top: 50px;

                        &::after {
                            top: -57px;
                        }

                        &::before {
                            top: -51px;
                        }

                        span {
                            width: 140px;
                            height: 140px;
                            border: 2px solid var(--primary-color);
                            border-radius: 50%;
                            line-height: 140px;
                            background-color: #fff;
                            display: inline-block;
                            position: relative;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }

    @include mq("contents") {
        .org-map {
            width: auto;

            .dept {
                ul li span {
                    width: 160px;
                }

                &::before {
                    width: 80%;
                    left: 10%;
                    margin: 0;
                }
            }
        }
    }

    @include mq("tablet") {
        .org-map {
            .company::before {
                height: 320px;
            }

            .dept {
                margin-top: 30px;
                z-index: 11;

                &::before {
                    display: none;
                }

                ul {
                    flex-wrap: wrap;

                    li {
                        width: 60%;
                        margin-top: 20px;

                        &::before,
                        &::after {
                            display: none;
                        }

                        &:first-child {
                            margin-top: 20px;

                            span {
                                width: 100px;
                                height: 100px;
                                line-height: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}
